fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-multipart
boto3
pydantic
python-dotenv
pandas
httpx
google-genai
paddleocr
paddlepaddle 
asyncpg
celery
redis
google-genai 
pgvector
pydantic-settings
PyMuPDF
opencv-python
numpy